<section class="home">
    <div class="home-container">
        <div class="display-one">
            <div class="text">
                <h3>easily identify,</h3>
                <h1>foods around</h1>
                <p>save yourself the hustle!</p>
                <div class="links">
                    <a href="/register">Sign Up</a>
                    <a href="/stores">Explore</a>
                </div>
            </div>
        </div>
        <div class="display-two">
            <h3>Download our app</h3>
            <div class="d2-text">
                <div class="android phone">
                    <img src="assets/playstore.png" />
                    <p>Android</p>
                </div>
                <div class="iphone phone">
                    <img src="assets/apple store.png" />
                    <p>iPhone</p>
                </div>
            </div>
        </div>
    </div>
</section>