/* Colors */
/* #04130a, #EF5F39, #49956C
#25be62 */

/* Header  */
header {
    background-color: #04130a;
    height: 2.5rem;
    width: 90vw;
    margin: 0 auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav {
    padding-top: 11px;
}

nav ul {
    list-style-type: none;
}

li > a {
    color: white;
    text-decoration: none;
}

p > a {
    color: white;
    text-decoration: none;
}

.navs-container {
    display: flex;
    flex: 1;
    margin-right: 5%;
    justify-content: right;
}

.header-title {
    display: flex;
    flex: 1;
    margin-left: 5%;
}

.additionals {
    display: flex;
    flex: 2;
    flex-wrap: wrap;
    justify-content: center;
}

.add-one {
    margin-right: 1.5625rem;
}

/* Footer */
footer {
    background-color: #04130a;
    color: white;
    width: 90vw;
    height: 2.5rem;
    margin: 0 auto;
    padding-top: 10px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}