@media (max-width: 480px) {
    /* Header */
    header {
        font-size: 12px;
    }

    .add-one {
        margin-right: 0.625rem;
    }

    /* Homepage */    
    .text > h3 {
        font-size: 30px;
    }

    .text > h1 {
        font-size: 40px;
    }

    .text > p {
        font-size: 14px;
    }

    .links > a {
        font-size: 12px;
    }

    .display-two {
        width: 90vw;
        margin-bottom: 40px;
    }

    .phone {
        height: 55px;
        width: 110px;
    }

    .android > img {
        width: 20px;
    }

    .iphone > img {
        width: 40px;
    }

    /* Accounts */
    .form > input {
        height: 40px;
        width: 80vw;
    }
}

@media (max-width: 768px) {
    
}