<section class="form-contain">
    <h3>LOGIN HERE</h3>
    <form id="log-form" class="form" method="POST" action="/login">

        <label class="label">Email:</label>
        <br/>
        <input type="email" name="email" />
        <br />
        <label class="label">Password:</label>
        <br />
        <input type="password" name="password" />
        <br />
        <br />
        <input type="submit" name="submit" value="submit" />

    </form>
</section>